/app/web/                    @kevin-gh @gabrielkalebe-gh
/app/core/service/           @carloseduardo-gh @gabrielkalebe-gh
/app/core/persistencia/      @allandasilva-gh @kevin-gh
/app/adapters/               @gustavosouto-gh @carloseduardo-gh
/alembic/                    @allandasilva-gh @kevin-gh
